body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-aboreto: Aboreto;

  /* font sizes */
  --font-size-29xl: 48px;
  --font-size-10xl: 29px;
  --font-size-19xl: 38px;
  --font-size-11xl: 30px;

  /* Colors */
  --color-white: #fff;
  --white: #fffcf6;
}
